/*--------------------------------------------------------------------------------------------------------------
-------------------------------------- Style CSS ---------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------
*/
body {
    
}

.common {
        width: 80%;
    margin: 50px auto;  
}

header {
 
}


h1 {
}